venv/
__pycache__/
PATTERN_GENERATION/__pycache/
LanguageIdentification/__pycache/
LanguageIdentification/__pycache__/FNLI.cpython-312.pyc
POSTagging/POSTAGGER/pospkl/__pycache__/POSTagger.cpython-312.pyc